
echo node_modules/ > .gitignore
echo db/usuarios.db >> .gitignore
echo .env >> .gitignore
=======
node_modules/
db/usuarios.db
.env
=======
echo node_modules/ > .gitignore
echo db/usuarios.db >> .gitignore
echo .env >> .gitignore

